<div class="container-md text-center p-5 mt-5">
    <h1 class="display-1 d-inline-flex text-success">{{response.code}}</h1>
    <div class="text blockquote mt-3">{{response.message}}</div>
    <a href="/weather/" class="btn btn-outline-success m-3 px-5">Go To Weather Page</a>
</div>