{{> header}}

    <main id="main">
        <section >
            <div class="container-md text-center border border-2 rounded p-5 mt-5">
                <h1 class="display-4 text-muted m-2">Weather data service</h1>
                <a href="/weather" class="btn btn-outline-success m-3 px-5">Weather Page</a>
            </div>
        </section>
    </main>

{{> footer}}
