<section id="weather-container" class="border border-2 rounded container-xl p-5 mt-5">
    {{#if needLocation}}
        <div id="need-location" data-need-location="true">
            {{> loading}} 
        </div>
    {{else}}
        {{#if weather}}
            {{> weatherData}}
        {{else}}
            {{> errorMessage}}
        {{/if}}
    {{/if}}
</section>